@import url(reset.css);

@font-face {
  font-family: "NanumSquare";
  src: url("../fonts/NanumSquareR.otf");
  src: url("../fonts/NanumSquareB.otf");
  src: url("../fonts/NanumSquareEB.otf");
}

:root {
  /* font-size */
  --big-font: 2rem;
  --medium-font: 1.5rem;
  --base-font: 1rem;
  --small-font: 0.8rem;
  /* Cololr */
  --white-color: #fff;
  --black-color: #140a00;
  --grey-color: #a0a0a0;
  --pink-color: #ff3478;

  /* size */
  --small-padding: 10px;
  --medium-padding: 30px;
  --big-padding: 100px;
}

body {
  font-family: "NanumSquare", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* -----header----- */
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: var(--small-padding) 0;
}
header .logo img {
  width: 25vw;
}
header .menu-bar {
  cursor: pointer;
}
header .menu-bar p {
  display: inline-block;
  color: black;
  font-size: 2vw;
}
header .menu-bar p:nth-child(2) {
  color: var(--pink-color);
  padding: 0 0.5vw;
}
header .pc-nav {
  display: none;
}

.mobile-nav {
  height: 0%;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
}
.nav-content {
  margin-top: var(--big-padding);
}
.mobile-nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 8vw;
  font-weight: 800;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}
.mobile-nav .closebtn {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 8vw;
}

/* -----banner----- */
.banner {
  position: relative;
}
.banner video {
  width: 100%;
}
.banner video.pc {
  display: none;
}
.banner h1 {
  position: absolute;
  top: 33%;
  left: 5%;
  width: 55%;
  color: white;
  font-size: 11.5vw;
  font-weight: 700;
  word-break: keep-all;
  line-height: 14vw;
}

/* -----section common----- */
section {
  height: auto;
}
section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: var(--big-padding) 0;
}
section .text {
  font-weight: 700;
}
section .text .title p {
  font-size: 4vw;
  padding-bottom: var(--medium-padding);
}
section .text .title h2 {
  width: 80%;
  font-size: 8vw;
  font-weight: 800;
  word-break: keep-all;
  line-height: 8vh;
  padding-bottom: var(--medium-padding);
}
section .text .dsc {
  width: 100%;
  font-size: 5vw;
  word-break: keep-all;
  line-height: 6vh;
  padding-bottom: var(--medium-padding);
}
section span.more {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(49, 49, 49);
  font-size: 2vw;
  cursor: pointer;
  padding: 30px 0 30px 20px;
}
section span.more .arrow {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 15px;
  margin-right: 17px;
  overflow: hidden;
}
section span.more .arrow img {
  width: 40px;
  display: inline-block;
  transition: all 0.5s;
}

/* -----section1----- */
.section1 video {
  width: 100%;
  border-radius: 20%;
  margin-bottom: var(--big-padding);
}
.section1 .video-wrapper {
  position: relative;
  width: 100%;
}
.section1 .video-wrapper img {
  position: absolute;
  width: 100%;
  left: 0;
}

/* -----section2----- */
.section2 {
  background-image: url("../content/sec2_1_m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}
.section2 span.more {
  border: 1px solid white;
}

/* -----section3----- */
.section3 {
  height: auto;
}
.section3 .wrapper {
  width: 100%;
}
.section3 .wrapper .text,
.section3 .wrapper button {
  width: 85%;
  margin: 0 auto;
}
.section3 .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: var(--big-padding);
}
.section3 .img-wrapper img {
  width: 42vw;
  margin-bottom: var(--medium-padding);
}

.section3 .img-wrapper img:nth-child(2n) {
  align-self: flex-end;
}
.section3 .img-wrapper img:nth-child(2),
.section3 .img-wrapper img:nth-child(5) {
  border-radius: 50%;
}

/* -----section4----- */
.section4 {
  height: auto;
}
.section4 .careers {
  margin-bottom: calc(var(--medium-padding) * 2);
}
.section4 article .text {
  width: 80%;
  word-break: keep-all;
  line-height: 3vh;
  margin-bottom: var(--medium-padding);
}
.section4 article .text h2 {
  font-size: 10vw;
  margin-bottom: var(--medium-padding);
}
.section4 article .text p {
  font-size: 3vw;
}
.section4 .img {
  display: flex;
  border-radius: 50%;
  margin-bottom: var(--medium-padding);
  overflow: hidden;
  cursor: pointer;
}
.section4 .img > img {
  width: 100%;
  transition: all 0.3s;
}
.section4 .img > img:hover {
  transform: scale(1.1);
}

/* -----footer----- */
footer {
  margin: var(--big-padding) 0;
  font-size: 3vw;
  font-weight: 700;
  line-height: 5vh;
}
footer .wrapper {
  width: 85%;
  margin: 0 auto;
}
footer .family-site {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 20px;
  cursor: pointer;
}
footer .family-site .title {
  display: flex;
  justify-content: space-between;
}
footer .family-site .title p {
  display: inline-block;
  font-weight: 700;
}
footer .family-site .title img {
  width: 3vw;
  transition: all 0.2s;
}
footer .family-site .title img.active {
  transform: rotate(45deg);
}
footer .family-site .site-list {
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 94px;
  transition: 0.3s;
  overflow-y: hidden;
  height: 0%;
  z-index: 1;
}
footer .family-site .site-list.active {
  margin-top: 28px;
  height: 284px;
  border-bottom: 1px solid black;
}
footer .family-site .site-list li {
  padding-left: 20px;
  padding-bottom: 1vh;
}

footer .contact {
  margin: var(--medium-padding) 0;
}
footer .contact li {
  margin: var(--small-padding) 0;
}
footer .sns {
  margin: var(--medium-padding) 0;
}
footer .sns li {
  display: inline-block;
}
footer .sns li + li {
  margin-left: var(--small-padding);
}
footer .sns li i {
  font-size: 5vw;
}

/* -----scrolldown Btn----- */
.scroll-down {
  position: fixed;
  right: var(--medium-padding);
  bottom: var(--medium-padding);
  transition: all 0.3s;
  z-index: 2;
}
.scroll-down div {
  transition: all 0.3s;
}
.scroll-down.topBtn {
  cursor: pointer;
}
.scroll-down.topBtn div {
  border-color: black;
}
.scroll-down.topBtn div:first-child:after {
  content: url("../content/arrow_scroll_up.svg");
  display: inline-block;
  transform: translate(16px, 13px);
}
.scroll-down .up {
  border: 2px solid white;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-left-radius: 0% 0%;
  border-bottom-right-radius: 0% 0%;
  width: 50px;
  height: 25px;
  border-bottom: transparent;
}
.scroll-down .middle {
  border-left: 2px solid white;
  border-right: 2px solid white;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
}
.scroll-down .middle img {
  transform: rotate(90deg);
  width: 50px;
  -webkit-animation: move 2s infinite;
  animation: move 2s infinite;
}

.scroll-down .down {
  border: 2px solid white;
  border-top-left-radius: 0% 0%;
  border-top-right-radius: 0% 0%;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  width: 50px;
  height: 25px;
  border-top: transparent;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(-300px) rotate(90deg);
  }
  50% {
    transform: translateY(0px) rotate(90deg);
  }
  100% {
    transform: translateY(300px) rotate(90deg);
  }
}
@keyframes move {
  0% {
    transform: translateY(-300px) rotate(90deg);
  }
  50% {
    transform: translateY(0px) rotate(90deg);
  }
  100% {
    transform: translateY(300px) rotate(90deg);
  }
}

/* -----media query----- */
@media all and (min-width: 767px) {
  /* ---header--- */
  header {
    transition: all 0.2s;
  }
  header .logo img {
    width: 12vw;
  }
  header .menu-bar {
    display: none;
  }
  header .pc-nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
    font-weight: 700;
  }
  header .pc-nav .menu {
    display: flex;
    margin-right: 13vw;
  }
  header .pc-nav .menu li + li {
    margin-left: 3vw;
  }
  header .pc-nav .lan a:last-child {
    color: rgb(167, 167, 167);
  }
  header .pc-nav .lan a:first-child:after {
    content: " |";
    color: rgb(167, 167, 167);
  }
  header .drop-down {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0%;
    left: 0;
    top: 4.5vw;
    background-color: white;
    transition: 0.3s;
    overflow-y: hidden;
    z-index: 1;
  }
  header .drop-down li {
    margin-bottom: 1vw;
  }
  header .drop-down li a:hover {
    color: black;
  }
  header .drop-down li:hover {
    transform: translateX(5px);
  }
  header .drop-down ul:first-child {
    margin-left: 9vw;
  }
  header .drop-down ul:nth-child(2) {
    margin-left: 16.5vw;
  }
  header .drop-down ul:last-child {
    margin-left: 2vw;
  }
  header .drop-down a {
    color: var(--grey-color);
  }

  /* ---banner--- */
  .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .banner video.mobile {
    display: none;
  }
  .banner video.pc {
    display: inline-block;
    width: auto;
  }
  .banner h1 {
    top: 48%;
    left: initial;
    right: 15%;
    width: 25%;
    font-size: 4vw;
    line-height: 6vw;
  }

  /* ---section common--- */
  section .text .title p {
    font-size: 1.2vw;
  }
  section .text .title h2 {
    width: 50%;
    font-size: 3vw;
    line-height: 8vh;
  }
  section .text .dsc {
    font-size: 1.5vw;
    line-height: 5vh;
  }
  section span.more {
    font-size: 1.2vw;
    width: 25vw;
  }
  section span.more:hover > .arrow img:last-child,
  section span.more:hover > .arrow img:first-child {
    transform: translateX(40px);
  }
  .hvr-sweep-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--pink-color);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover,
  .hvr-sweep-to-right:focus,
  .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before,
  .hvr-sweep-to-right:focus:before,
  .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  /* ---section1--- */
  .section1 .wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .section1 .video-wrapper {
    flex-basis: 50%;
  }
  .section1 video {
    margin: 0;
  }
  .section1 .text {
    flex-basis: 30%;
  }

  /* ---section2--- */
  .section2 {
    position: relative;
    height: 100vh;
    background-image: url("../content/sec2_2.jpg");
  }
  .section2 .wrapper {
    display: block;
    height: 100%;
    padding: 0;
  }
  .section2 .text {
    position: absolute;
    width: 45%;
    top: 10%;
    left: 5%;
  }

  /* ---section3--- */
  .section3 {
    height: 100vh;
  }
  .section3 .wrapper {
    position: relative;
    width: initial;
    display: block;
    overflow: hidden;
    height: 100%;
  }
  .section3 .wrapper .text {
    position: absolute;
    width: 45%;
    top: 10%;
    left: 5%;
    z-index: 1;
  }
  .section3 .img-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 100vw;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-bottom: 10rem;
  }
  .section3 .img-wrapper img {
    width: 30vw;
    margin: 0;
    transform: rotate(90deg);
    margin-top: 15vw;
    transition: all 0.5s;
  }
  .section3 .img-wrapper::before {
    content: url("../content/white.png");
    display: inline-block;
    width: 50vw;
    height: 50vw;
  }
  .section3 .img-wrapper img:nth-child(1) {
    width: 45vw;
  }
  .section3 .img-wrapper img:nth-child(2),
  .section3 .img-wrapper img:nth-child(5) {
    width: 15vw;
  }
  .section3 .img-wrapper img:nth-child(4) {
    width: 45vw;
  }
  .section3 .img-wrapper img:nth-child(2n-1) {
    align-self: flex-end;
  }
  .img-wrapper::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  .img-wrapper::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }

  /* ---section4--- */
  .section4 .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .section4 .careers {
    margin: 0;
  }
  .section4 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
  .section4 article .text {
    width: 100%;
  }
  .section4 article .text h2 {
    font-size: 3vw;
  }
  .section4 article .text p {
    font-size: 1.5vw;
  }

  /* ---footer--- */
  footer {
    font-size: 1vw;
    line-height: 5vh;
  }
  footer .wrapper {
    position: relative;
    border-top: 2px solid black;
  }
  footer .wrapper::before {
    content: url("../content/logo_b.svg");
    display: block;
    width: 100px;
    margin-top: var(--medium-padding);
  }
  footer .wrapper .family-site,
  footer .wrapper .sns {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
  }
  footer .wrapper .family-site {
    padding: 20px;
    border-top: none;
  }
  footer .wrapper .family-site .title img {
    width: 1vw;
  }
  footer .wrapper .family-site .site-list.active {
    margin-top: 0;
    height: 240px;
  }
  footer .wrapper .family-site .site-list li {
    padding-bottom: 0;
  }
  footer .wrapper .family-site .site-list li a {
    color: var(--grey-color);
    transition: all 0.2s;
  }
  footer .wrapper .family-site .site-list li:hover > a {
    color: black;
  }
  footer .wrapper .sns {
    margin: 0;
    top: 41%;
    left: 67.5%;
  }
  footer .wrapper .sns::before {
    content: "Follow us";
    display: block;
  }
  footer .sns li i {
    font-size: 3vw;
  }
}
