@import url(reset.css);

:root {
  /* font-size */
  --big-font: 2rem;
  --medium-font: 1.5rem;
  --base-font: 1rem;
  --small-font: 0.8rem;
  /* Cololr */
  --white-color: #fff;
  --black-color: #140a00;

  /* size */
  --small-padding: 10px;
  --medium-padding: 30px;
  --big-padding: 100px;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: var(--small-padding) 0;
}
header .logo img {
  width: 25vw;
}
header .menu-bar {
  cursor: pointer;
}
header .menu-bar p {
  display: inline-block;
  color: black;
  font-size: 3vw;
}
header .menu-bar p:nth-child(2) {
  color: rgb(243, 52, 84);
}
header .pc-nav {
  display: none;
}

.mobile-nav {
  height: 0%;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
}

.nav-content {
  margin-top: var(--big-padding);
}

.mobile-nav a {
  padding: 15px;
  text-decoration: none;
  font-size: 8vw;
  font-weight: 800;
  color: black;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.mobile-nav .closebtn {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 8vw;
}

.banner {
  position: relative;
}
.banner video {
  width: 100%;
}
.banner video.pc {
  display: none;
}
.banner h1 {
  position: absolute;
  top: 33%;
  left: 5%;
  width: 55%;
  color: white;
  font-size: 11.5vw;
  font-weight: 700;
  word-break: keep-all;
  line-height: 14vw;
}

section {
  height: auto;
}

section .wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--big-padding) 0;
}

.section1 .video-wrapper {
  width: 100%;
  position: relative;
}

.section1 video {
  width: 100%;
  border-radius: 20%;
  margin-bottom: var(--big-padding);
}
.section1 img {
  position: absolute;
  width: 100%;
  left: 0;
}

section .text {
  font-weight: 700;
}
section .text .title p {
  font-size: 4vw;
  padding-bottom: var(--medium-padding);
}
section .text .title h2 {
  width: 80%;
  font-size: 8vw;
  font-weight: 800;
  word-break: keep-all;
  line-height: 8vh;
  padding-bottom: var(--medium-padding);
}
section .text .dsc {
  width: 100%;
  font-size: 5vw;
  word-break: keep-all;
  line-height: 6vh;
  padding-bottom: var(--medium-padding);
}
section button {
  all: unset;
  width: 100%;
  border: 1px solid rgb(49, 49, 49);
  padding: 30px 0 30px 20px;
  font-size: 3.5vw;
  font-weight: 700;
  cursor: pointer;
}

section button::after {
  content: url("../content/arrow_b.svg");
  display: inline-block;
  width: 50px;
}

.section2 {
  background-image: url("../content/sec2_1_m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}
.section2 button {
  border: 1px solid white;
}
.section2 button::after {
  content: url("../content/arrow_w.svg");
}

.section3,
.section4 {
  height: auto;
}
.section3 .wrapper {
  width: 100%;
}
.section3 .wrapper .text,
.section3 .wrapper button {
  width: 85%;
  margin: 0 auto;
}

.section3 .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: var(--big-padding);
}
.section3 .img-wrapper img {
  width: 42vw;
  margin-bottom: var(--medium-padding);
}

.section3 .img-wrapper img:nth-child(2n) {
  align-self: flex-end;
}
.section3 .img-wrapper img:nth-child(2),
.section3 .img-wrapper img:nth-child(5) {
  border-radius: 50%;
}

.section4 .careers {
  margin-bottom: calc(var(--medium-padding) * 2);
}
.section4 article .text {
  width: 80%;
  word-break: keep-all;
  line-height: 3vh;
  margin-bottom: var(--medium-padding);
}
.section4 article .text h2 {
  font-size: 10vw;
  margin-bottom: var(--medium-padding);
}
.section4 article .text p {
  font-size: 3vw;
}
.section4 img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: var(--medium-padding);
}

footer {
  margin: var(--big-padding) 0;
  font-size: 3vw;
  font-weight: 700;
  line-height: 5vh;
}
footer .wrapper {
  width: 85%;
  margin: 0 auto;
}
footer .family-site {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 0 30px 20px;
}
footer .family-site p {
  display: inline-block;
  font-weight: 700;
}
footer .family-site p::after {
  content: "+";
  display: inline-block;
  width: 30px;
}
footer .contact {
  margin: var(--medium-padding) 0;
}
footer .contact li {
  margin: var(--small-padding) 0;
}
footer .sns {
  margin: var(--medium-padding) 0;
}
footer .sns li {
  display: inline-block;
}
footer .sns li + li {
  margin-left: var(--small-padding);
}
footer .sns li i {
  font-size: 5vw;
}

@media all and (min-width: 767px) {
  header .logo img {
    width: 12vw;
  }
  header .menu-bar {
    display: none;
  }
  header .pc-nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
    font-weight: 700;
  }
  header .pc-nav .menu {
    display: flex;
    margin-right: 13vw;
  }
  header .pc-nav .menu li + li {
    margin-left: 3vw;
  }
  header .pc-nav .lan a:first-child:after {
    content: " |";
  }

  header .drop-down {
    position: fixed;
    left: 0;
    top: 4.5vw;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 0%;
    transition: 0.3s;
    overflow-y: hidden;
    z-index: 1;
  }
  header .drop-down li {
    margin-bottom: 1vw;
  }
  header .drop-down li a:hover {
    color: black;
  }
  header .drop-down li:hover {
    transform: translateX(5px);
  }
  header .drop-down ul:first-child {
    margin-left: 11vw;
  }
  header .drop-down ul:nth-child(2) {
    margin-left: 16.5vw;
  }
  header .drop-down ul:last-child {
    margin-left: 2vw;
  }
  header .drop-down a {
    color: rgb(167, 167, 167);
  }
  .banner {
    height: unset;
  }
  .banner video {
    width: 100%;
    height: 100%;
  }
  .banner video.mobile {
    display: none;
  }
  .banner video.pc {
    display: inline-block;
  }
  .banner h1 {
    top: 48%;
    left: initial;
    right: 15%;
    width: 25%;
    font-size: 4vw;
    line-height: 6vw;
  }

  .section1 .wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  section .text .title p {
    font-size: 2vw;
  }
  section .text .title h2 {
    width: 50%;
    font-size: 3vw;
    line-height: 6vh;
  }
  section .text .dsc {
    font-size: 2vw;
    line-height: 4vh;
  }
  section button {
    width: 100%;
    padding: 30px 0 30px 20px;
    font-size: 2vw;
  }
  .section1 .video-wrapper {
    flex-basis: 50%;
  }
  .section1 video {
    margin: 0;
  }
  .section1 .text {
    flex-basis: 30%;
  }

  .section2 {
    height: 100vh;
    position: relative;
    background-image: url("../content/sec2_2.jpg");
  }

  .section2 .wrapper {
    height: 100%;
    display: block;
    padding: 0;
  }
  .section2 .text {
    position: absolute;
    width: 45%;
    top: 10%;
    left: 5%;
  }

  .section3 {
    height: 100vh;
  }
  .section3 .wrapper {
    position: relative;
    width: initial;
    display: block;
    overflow: hidden;
    height: 100%;
  }
  .section3 .wrapper .text {
    position: absolute;
    width: 45%;
    top: 10%;
    left: 5%;
    z-index: 1;
  }
  .section3 .img-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 100vw;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-bottom: 10rem;
  }
  .section3 .img-wrapper img {
    width: 30vw;
    margin: 0;
    transform: rotate(90deg);
    margin-top: 15vw;
    transition: all 0.5s;
  }
  .section3 .img-wrapper::before {
    content: url("../content/white.png");
    display: inline-block;
    width: 50vw;
    height: 50vw;
  }
  .section3 .img-wrapper img:nth-child(1) {
    width: 45vw;
  }
  .section3 .img-wrapper img:nth-child(2),
  .section3 .img-wrapper img:nth-child(5) {
    width: 15vw;
  }
  .section3 .img-wrapper img:nth-child(4) {
    width: 45vw;
  }
  .section3 .img-wrapper img:nth-child(2n) {
    align-self: flex-start;
  }
  .section3 .img-wrapper img:nth-child(2n-1) {
    align-self: flex-end;
  }

  .img-wrapper::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  .img-wrapper::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  .section4 .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .section4 .careers {
    margin: 0;
    width: 40%;
  }
  .section4 .partnership {
    width: 40%;
  }
  .section4 article .text {
    width: 100%;
  }
  .section4 article .text h2 {
    font-size: 3vw;
  }
  .section4 article .text p {
    font-size: 1.5vw;
  }
  footer {
    font-size: 1vw;
    line-height: 5vh;
  }
  footer .wrapper {
    position: relative;
    border-top: 2px solid black;
  }
  footer .wrapper::before {
    content: url("../content/logo_b.svg");
    display: block;
    width: 100px;
    margin-top: var(--medium-padding);
  }
  footer .wrapper .family-site,
  footer .wrapper .sns {
    position: absolute;
    right: 0;
    width: 30%;
  }
  footer .wrapper .sns {
    margin: 0;
    top: 70%;
  }
  footer .wrapper .sns::before {
    content: "Follow us";
    display: block;
  }
  footer .sns li i {
    font-size: 3vw;
  }
}
